<div class="video-container" *ngIf="!error">
	<video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
		autoplay></video>
	<canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
		[height]="HEIGHT"></canvas>
</div>

<div class="snap-container">
	<button class="btn btn-primary"  (click)="capture()">Snap Photo</button>	
  <!-- <button class="btn btn-primary" (click)="detectFaces()">Snap Photo</button> -->

</div>


